.list-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.para {
  color: #000000;
  font-family: 'Roboto';
}

.card-btn {
  background-color: transparent;
  border: 1px solid #ff0b37;
  border-radius: 10px;
  color: #ff0b37;
  font-family: 'Roboto';
  width: 70px;
  height: 30px;
  outline: none;
  cursor: pointer;
}
